@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  position: fixed; 
  top: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1000; 
}

main {
  margin-top: 70px; 
  height: calc(100vh - 70px);
  display: flex;
  background-color: #f9f9f9;
}

.side-bar {
  height: 100%;
  width: 17%;
  background-color: #fff;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px; 
}

.header-center {
  display: flex;
  align-items: center;
  flex: 1; 
  justify-content: center; 
}

.header-icons {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

/* Variables opcionales para facilitar cambios futuros */
:root {
  --border-color: #ddd;
  --border-radius: 4px; /* un poco más redondeado */
  --height: 45px;
  --font-family: 'Roboto', sans-serif;
  --transition-duration: 0.3s;
}

/* Estilo del contenedor de búsqueda */
.search {
  display: flex;
  align-items: end;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--border-color);
  height: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #fff; 
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); 
}

.search input {
  flex: 1;
  padding: 6px; 
  border: none;
  height: 100%;
  font-family: var(--font-family);
  font-size: 16px; 
  outline: none; 
  transition: box-shadow var(--transition-duration) ease-in-out;
}

/* Estado en foco para mejor accesibilidad y feedback visual */
.search input:focus {
  box-shadow: inset 0 -2px 0 #007BFF; /* línea azul en el borde inferior al enfocar */
}

/* Opcionalmente, estiliza el placeholder */
.search input::placeholder {
  color: #aaa;
}

.search input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
  background-color: transparent; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mic {
  margin-top: 10px;
}